﻿#myHeader { 
	height: 150px;
 }
 
 #conteiner{
	padding-top: 8px;
	padding-left: 8px;
	margin: 0 auto;
 }
 
#myLeft { 
	width: 600px;
	float: left;
	}
	
#myContent{
width: 1200px;
margin: 0 auto;
}


#myRight { 
	margin-left: 600px;
	}

#myFooter { 
	height:15px; 
    padding: 5px; 
    clear: left; 
	bottom: 0px;
	}
	


#steps{
	padding-left:30px;
}

.header2{
	padding-left:50px;
}

.contentStep{
	text-indent:1.5em;
	text-align: justify;
	padding-left:75px;
	padding-bottom:35px;
}

.imgStep{
	position:absolute;
	margin-right: 10px;
}

#form{
	position:fixed;
	padding-left:35px;
	padding-top:0px;	
}

#formReq{
	padding-top:0px;
	padding-left:10px;
}

#signature{
	padding-left:75px;
}

