﻿#header1{
	font:normal small-caps 36px/14px fantasy;	
}

#myFooter {
	background: #8fa09b;
	color: #fff;
	
}	

#formField:focus{
	width:250px;
	height: 20px;
	border:solid 1px #000;
	outline: none;
	background-color: #F5FFFA;
}