#authoriz{
	position: absolute; /* Абсолютное позиционирование */
    width: 280px; /* Ширина слоя в пикселах */
    height: 180px; /* Высота слоя в пикселах */
    left: 50%; /* Положение слоя от левого края */
    top: 50%; /* Положение слоя от верхнего края */
    margin-left: -150px; /* Отступ слева */
    margin-top: -200px;	/* Отступ сверху */
    border: solid 1px black; /* Параметры рамки вокруг */
    padding: 10px; /* Поля вокруг текста */
    overflow: auto; /* Добавление полосы прокрутки */ 
	background-image: url(../../resources/images/backForm.jpg);
	
	}
	
body{
	background-image: url(../../resources/images/backBody.jpg);
	}
	
	
#button{

	margin: 10px;
	text-decoration: none;
	font: bold 25px 'Trebuchet MS',Arial, Helvetica;
	display: inline-block;
	text-align: center;
	color: #fff;
	border: 1px solid #9c9c9c;
	border: 1px solid rgba(0, 0, 0, 0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.4);
	box-shadow: 0 0 1px rgba(0,0,0,0.4);
	
}

#login, #password, #log{
	margin-top: 5px;
	margin-bottom: 5px;
	
	

}

#forgotpass{
	margin-left: 30px;
	position: absolute;
	right: 10px;

}

h5{
    color: red;
    position: relative;
    padding-top: 10px;
    float: right;


}
	